<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg');">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <div class="container text-left">
            <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
            <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
              obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
              perferendis vitae cumque et quo impedit.</p>
            <a mdbBtn gradient="peach" mdbWavesEffect>
              <mdb-icon fas icon="blue" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg');">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <div class="container text-left">
            <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
            <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
              obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
              perferendis vitae cumque et quo impedit.</p>
            <a mdbBtn gradient="blue" mdbWavesEffect>
              <mdb-icon fas icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg');">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <div class="container text-left">
            <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
            <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
              obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
              perferendis vitae cumque et quo impedit.</p>
            <a mdbBtn gradient="blue" mdbWavesEffect>
              <mdb-icon fas icon="clone" class="left"></mdb-icon> View project
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </mdb-carousel-item>
</mdb-carousel>
