<!--Card-->
<mdb-card class="animated flipInY">
  <!--Card image-->
  <div class="view overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/food.jpg"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h5 class="text-center">Fin de semana en Cundinamarca</h5>
    </mdb-card-title>

    <!--Text-->
    <p class="font-small grey-dark-text mb-0 text-center">
      Bogota, La Vega
    </p>
  </mdb-card-body>
  <!--/.Card content-->
  <!-- Card footer -->
  <mdb-card-footer class="bg-transparent">
    <ul class="list-unstyled list-inline font-small mt-3 text-center">
      <li class="list-inline-item pr-2"><i class="fa fa-person-booth pr-1"></i>1</li>
      <li class="list-inline-item pr-2"><i class="fab fa-facebook-f pr-1"> </i>21</li>
      <li class="list-inline-item"><i class="fab fa-twitter pr-1"> </i>5</li>
    </ul>

    <div class="d-flex justify-content-between align-content-center">
      <span class="d-flex align-content-center justify-content-center align-self-center text-success" color="success">$ 300</span>
      <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect>Detalles</button>
    </div>
  </mdb-card-footer>
  <!-- Card footer -->
</mdb-card>
<!--/.Card-->
