<div class="row my-4" id="mainGallery">
  <div class="col-md-3 parent">
    <div class="child" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg')"></div>
  </div>
  <div class="col-md-3 parent">
    <div class="child" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg')"></div>
  </div>
  <div class="col-md-3 parent">
    <div class="child" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg')"></div>
  </div>
  <div class="col-md-3 parent">
    <div class="child" style="background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg')"></div>
  </div>
</div>
