<div class="container">
  <h1 class="text-center mt-5 pt-4">Lugares</h1>
  <h5 class="text-center pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  <div class="row">
    <div class="col-md-4">
      <h3>Galeria</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique sint commodi laboriosam odio, minima
        repellat adipisci, placeat amet illum labore explicabo quisquam, quidem aut maxime nobis beatae corporis
        deleniti deserunt.
      </p>
    </div>
    <div class="col-md-8">
      <h3>Escoge el que mas guste</h3>
      <div class="row">
        <app-card-site class="col-md-6 col-sm-6 my-2"></app-card-site>
        <app-card-site class="col-md-6 col-sm-6 my-2"></app-card-site>
      </div>
    </div>
  </div>
</div>
