<div>
  <app-slider></app-slider>
  <app-search></app-search>
  <div class="container py-4">
    <h1 class="text-center my-4">Top Sitios</h1>
    <!-- <h3 class="text-center">Planes mas Solicitados</h3> -->
    <div class="row">
      <app-card-site class="col-md-4 col-sm-6 my-2"></app-card-site>
      <app-card-site class="col-md-4 col-sm-6 my-2"></app-card-site>
      <app-card-site class="col-md-4 col-sm-6 my-2"></app-card-site>
    </div>
    <div class="row">
      <app-gallery></app-gallery>
    </div>
    <h1 class="text-center my-4">Paquetes</h1>
    <!-- <h3 class="text-center mb-4">Paquetes mas Solicitados</h3> -->
    <div class="row">
      <app-package class="col-md-3 col-sm-6 my-2"></app-package>
      <app-package class="col-md-3 col-sm-6 my-2"></app-package>
      <app-package class="col-md-3 col-sm-6 my-2"></app-package>
      <app-package class="col-md-3 col-sm-6 my-2"></app-package>
    </div>
  </div>
</div>
